
    <div class="btn-group" role="group" aria-label="...">
        <div class="btn-group" [data]="data.filter.geo" role="group" app-location-section>
          
        </div>
        <div class="btn-group" role="group" app-language-section>
     
        </div>
     
        <button type="button" class="btn btn-default">Brands</button>
        <button type="button" class="btn btn-default">Interests</button>
        <button type="button" class="btn btn-default">Gender</button>
        <button type="button" class="btn btn-default">Ethnicity</button>
        <button type="button" class="btn btn-default">Age</button>
        <button type="button" class="btn btn-default">Lookalikes</button>
      </div>
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default">Audience Type</button>
    </div>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default">Bio</button>
        <button type="button" class="btn btn-default">Followers</button>
        <button type="button" class="btn btn-default">Engagements</button>
        <button type="button" class="btn btn-default">Contacts</button>
        <button type="button" class="btn btn-default">Last Post</button>
        <button type="button" class="btn btn-default">Account Type</button>
      </div>
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default">...</button>
      </div>

